.header__col {
    display: flex;
}

.header__bars {
    display: none;
}

.header {
    padding: 18px 0;
    position: relative;
}

.header__user-img,
.header__logo {
   width: 50px;
}

.header__user {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.header__col,
.header__user {
    justify-content: flex-end;
    align-items: center;
}

.header__user-img {
   border-radius: 100%;
}

.header__user i {
    margin-left: 10px;
}

.header__link {
    justify-content: flex-start;
}

.header__link-item {
    margin-left: 50px;
    display: inline-block;
    font-size: 18px;
    background-color: #fff;
}

.header__bars i {
    display: inline-block;    
    font-size: 40px;
    cursor: pointer;
}

@media (max-width:  992px) {
    .header__link-item {
        margin-left: 35px;
    }
}

@media (min-width:  768px) {
    .h-header-auto {
        height: auto !important;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 18px 0;
    }

    .header__link ul {
        height: 0;
        position: absolute;
        top: 100%;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 16px 22px #dfdfdf;
        overflow: hidden;
        transition-duration: 0.5s;
        z-index: 99;
    }

    .header__link li,
    .header__link-item {
        width: 100%;
    }

    .header__link-item {
        margin-left: 0;
        padding: 24px 0;
        display: flex;
        justify-content: center;
        transition-duration: 0.1s;
    }

    .header__link-item:hover {
        color: #fff;
        background-color: var(--main-color);
    }

    .header__bars {
        display: flex;
        align-items: center;
    }

    .header__link {
        justify-content: center;
    }

}