:root {
    --main-color: sandybrown;
}

button {
    box-shadow: 3px 3px 3px;
}

p,
h4 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.description {
    margin: 20px 0;
}

.flex-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.narrow-element {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.start-element {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.triangle {
    position: absolute;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.cursor-p {
    cursor: pointer;
}

.bg-red {
    background-color: #fe4a49;
}

.bg-blue {
    background-color: #2ab7ca;
}

.bg-yellow {
    background-color: #fed766;
}

.bg-green {
    background-color: #7bc043;
}

.container-90 {
    width: 90%;
    margin: auto;
}

.color-text {
    color: var(--main-color);
}

.width-100 {
    width: 100%;
}

.br-10px {
    border-radius: 10px;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-text {
    color: var(--main-color);
}

.alert__container {
    position: fixed;
    right: 14px;
    top: 40px;
    z-index: 200;
}

.alert__container .alert {
    transition-duration: .2s;
}